spring:
  config:
    activate:
      on-profile: local
  pebble:
    cache: false
  devtools:
    restart:
      additional-paths: file:src/main/resources/static/css/
  application:
    name: juke
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      jdbc-url: >
        jdbc:postgresql://localhost:5432/juke
      pool-name: juke-pool
      username: juke
      password: juke
logging:
  level:
    in.stonecolddev: DEBUG
    org.springframework.jdbc.core: TRACE
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
    org.springframework.security: DEBUG
# TODO: figure out how to disable flyway migrations on build globally
flyway:
  enabled: false
