<table border="0" cellspacing="0" cellpadding="0" class="tableTop" width="100%" th:fragment="top-navbar">
    <tr>
        <td class="tableColumnHeader" align="center">Welcome Guest</td>
        <td class="tableColumnHeader" align="center" onmouseover="changeColumn(this,'on');style.cursor='hand'" onmouseout="changeColumn(this,'off')" onclick="window.location='index.php?op=login'">
            <a href="index.php?op=login">Login</a>
        </td>
        <td class="tableColumnHeader" align="center" onmouseover="changeColumn(this,'on');style.cursor='hand'" onmouseout="changeColumn(this,'off')" onclick="window.location='index.php?op=user_add'">
            <a href="index.php?op=user_add">New Account</a>
        </td>
        <td class="tableColumnHeader" align="center" onmouseover="changeColumn(this,'on');style.cursor='hand'" onmouseout="changeColumn(this,'off')" onclick="window.location='mailto:cz_mw3_admin@czleagues.com'">Contact</td>
    </tr>
</table>