<tr th:fragment="news(item)">
    <td width="100%">
    <table class="tableHeader" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td class="tableHeaderText news-item-title"colspan="2" width="100%">
                <div  th:text="${item.title}"></div>
            </td>
        </tr>
        <tr>
            <td class="tableHeaderText news-item-info">
                <span th:text="${item.author.userName}"></span> on
                <span th:text="${item.publishedOn}"></span>
            </td>
        </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td class="tableTopNormal news-item-body">
                <div th:text="${item.body}"></div>
            </td>
        </tr>
    </table>
    </td>
</tr>