<!-- start left navbar -->
<table border="0" cellspacing="0" cellpadding="0" class="tableTop" width="200">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" class="tableTop" width="100%">
                <tr>
                    <td class="tableInput" align="center">October 08, 2003 11:44:09</td>
                </tr>
                <tr>
                    <td class="tableColumnHeader" align="center" onmouseover="changeColumn(this,'on');style.cursor='hand'" onmouseout="changeColumn(this,'off')" onclick="window.location='index.php?op=users_online'">
                        <a href="index.php?op=users_online">Users Online: 7</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="tableTop" width="200">
    <tr>
        <td class="tableHeader">Quick Stats</td>
    </tr>
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" class="tableTop" width="100%">
                <tr>
                    <td class="tableLabel" align="left">Members</td>
                    <td class="tableInput" align="left">922</td>
                </tr>
                <tr>
                    <td class="tableLabel" align="left">Units</td>
                    <td class="tableInput" align="left">27</td>
                </tr>
                <tr>
                    <td class="tableLabel" align="left">Battles (Cycle)</td>
                    <td class="tableInput" align="left">254</td>
                </tr>
                <tr>
                    <td class="tableLabel" align="left">Historic Battles</td>
                    <td class="tableInput" align="left">34243</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- end side bar -->
