<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default-admin-page}">
<head>
    <title>Juke - Create New Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/summernote/summernote.min.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <!-- TODO: validation -->
    <h1>Create new page</h1>
    <div th:replace="~{admin/pages/fragments/page-form :: form}"></div>
</main>
<th:block layout:fragment="scripts"><script src="/summernote/summernote.min.js"></script></th:block>
</body>
</html>